body 
{
  background: radial-gradient(circle at center, white, #FAF5EB);
  margin: 0;
}

header 
{
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 5vh 5vw 3vh;
}

.text-container 
{
  text-align: center;
}

.text-container h1 
{
  margin: 0;
  color: #D59200;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  letter-spacing: 2vh;
  font-size: clamp(24px, 5vw, 32px);
}

.text-container p
{
  margin: 5px 0 0;
  color: #C5C5C5;
  font-family: 'Inter', sans-serif;
  font-size: clamp(10px, 2.5vw, 12px);
}

.back-btn 
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 75vw;
  filter: brightness(0) saturate(100%) invert(80%) sepia(3%) saturate(0%) hue-rotate(0deg) brightness(97%) contrast(90%);
  width: clamp(30px, 5vw, 40px);
  height: auto;
  cursor: pointer;
}

.back-btn:hover
{
  filter: brightness(0) saturate(100%) invert(80%) sepia(3%) saturate(0%) hue-rotate(0deg) brightness(80%) contrast(90%);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 65vh;
  overflow: auto;
}

.container {
  position: absolute;         
  top: 0; left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vh;
  pointer-events: none;       
  z-index: 1;      
  overflow-y: auto;
}

.bull {
  transform: scaleX(-1);
  width: clamp(150px, 35%, 700px);
  height: auto;
  filter: brightness(0) saturate(100%) invert(80%) sepia(3%) saturate(0%) hue-rotate(0deg) brightness(97%) contrast(90%);
  opacity: 0.2;
}

.chat-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 5000px;
  height: 60vh;
  padding-left: 3vw;
  padding-right: 2vw;
  padding-bottom: 3vh;
  box-sizing: border-box;
  background-color: transparent;
  z-index: 2;
  display: flex;
  flex-direction: column-reverse;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  gap: 10px;
}

.chat-container::-webkit-scrollbar {
  width: 10px;
}
.chat-container::-webkit-scrollbar-track {
  background: rgba(234, 234, 234, 0);
  border-radius: 4px;
}
.chat-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.chat-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.437);
}

.message-wrapper {
  display: flex;
  width: 100%;
}

.message-wrapper.sent {
  justify-content: flex-end;
}

.message-wrapper.received {
  justify-content: flex-start;
}

.message-wrapper.system {
  justify-content: start;
}

.message {
  max-width: 70%;
  padding: 10px 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  word-wrap: break-word;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.1);
}

.message-sent {
  background-color: #9c9c9c;
  color: white;
  text-align: right;
  border-radius: 20px;
  margin-bottom: 0;
  margin-right: 0px;
}

.message-system {
  background-color: #707070;
  color: white;
  text-align: center;
  font-style: italic;
  border-radius: 20px;
  margin-bottom: 0;
}

.input-container
{
  display: flex;
  align-items: center;
  width: 70%;
  max-width: 1000px;
  margin: 0vh auto 0;
  gap: clamp(10px, 5vw, 25px);
  margin-bottom: 20px;
}

.input-text
{
  flex: 1;
  border: 3px solid #C5C5C5;
  border-radius: 25px;
  padding: 15px;
  font-family: "Rubik", sans-serif;
  color: rgb(81, 81, 81);
  font-size: clamp(12px, 2.5vw, 16px);
  background-color: transparent;
}

.input-text::placeholder
{
  font-size: clamp(12px, 2.5vw, 14px);
  font-family: "Rubik", sans-serif;
  color: #C5C5C5;
  letter-spacing: 1px;
}

.input-text:focus {
  outline: none;
  border-color: #C5C5C5; 
}

.send-btn
{
  width: clamp(40px, 8vw, 52px);
  height: clamp(40px, 8vw, 52px);
  border-radius: 50%;
  border: none;
  background-color: #006400;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.send-btn:hover
{
  transform: scale(1.1);
  background-color: #005100;
}

.send-icon
{
  width: clamp(16px, 4vw, 24px);
  height: clamp(16px, 4vw, 24px);
  filter: invert(1) brightness(10);
}