body 
{
  background: radial-gradient(circle at center, white, #FAF5EB);
  margin: 0;
}

header 
{
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 5vh 5vw 5vh;
}

.text-container 
{
  text-align: center;
}

.text-container h1 
{
  margin: 0;
  color: #D59200;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  letter-spacing: 2vh;
  font-size: clamp(24px, 5vw, 32px);
}

.text-container p
{
  margin: 5px 0 0;
  color: #C5C5C5;
  font-family: 'Inter', sans-serif;
  font-size: clamp(10px, 2.5vw, 12px);
}

.logout 
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5vw;
  filter: brightness(0) saturate(100%) invert(80%) sepia(3%) saturate(0%) hue-rotate(0deg) brightness(97%) contrast(90%);
  width: clamp(30px, 5vw, 40px);
  height: auto;
  cursor: pointer;
}

.logout:hover
{
  filter: brightness(0) saturate(100%) invert(80%) sepia(3%) saturate(0%) hue-rotate(0deg) brightness(80%) contrast(90%);
}

.container
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2vh;
  flex-wrap: wrap;
  gap: 2vh;
}

.bull
{
  transform: scaleX(-1);
  width: clamp(150px, 35%, 700px);
  height: auto;
  filter: brightness(0) saturate(100%) invert(80%) sepia(3%) saturate(0%) hue-rotate(0deg) brightness(97%) contrast(90%);
  opacity: 0.2;
}

.input-container
{
  display: flex;
  align-items: center;
  width: 70%;
  max-width: 1000px;
  margin: 8vh auto 0;
  gap: clamp(10px, 5vw, 25px);
  flex-wrap: wrap;
}

.input-text
{
  flex: 1;
  border: 3px solid #C5C5C5;
  border-radius: 25px;
  padding: 15px;
  font-family: "Rubik", sans-serif;
  color: rgb(81, 81, 81);
  font-size: clamp(12px, 2.5vw, 16px);
}

.input-text::placeholder
{
  font-size: clamp(12px, 2.5vw, 14px);
  font-family: "Rubik", sans-serif;
  color: #C5C5C5;
  letter-spacing: 1px;
}

.input-text:focus {
  outline: none;
  border-color: #C5C5C5; 
}

.send-btn
{
  width: clamp(40px, 8vw, 52px);
  height: clamp(40px, 8vw, 52px);
  border-radius: 50%;
  border: none;
  background-color: #D59200;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.send-btn:hover
{
  transform: scale(1.1);
  background-color: #c28500;
}

.send-icon
{
  width: clamp(16px, 4vw, 24px);
  height: clamp(16px, 4vw, 24px);
  filter: invert(1) brightness(10);
}

@media (max-width: 480px) 
{
  header 
  {
    margin: 3vh 3vw 0;
  }

  .text-container h1 
  {
    letter-spacing: 1vh;
  }

  .logout 
  {
    right: 3vw;
  }

  .input-container
  {
    flex-direction: column;
    gap: 15px;
  }
}